# Determines how the dev environment should run. Set to insights for developing
# app with settings for cloud.redhat.com
COMPOSE_PROFILE=standalone

# When pip installing packages during image build, specify the name of the
# version constraints, For ex, 'latest' -> requirements/constraints.latest.txt
# will use (or try to use) the lastest versions of requirements available.
# VERSION_CONTRAINTS=bleeding
VERSION_CONSTRAINTS=devel
# VERSION_CONTRAINTS=standalone
# VERSION_CONSTRAINTS=insights
# A constraints.txt that matches the versions required for pulp-ansible-pr-12345
# VERSION_CONSTRAINS=pulp-ansible-pr-12345


# Add extra paths to run project dependencies from local filesystem in editable mode
DEV_SOURCE_PATH='galaxy_ng'

# For ex, to use local versions of pulpcore, pulp_ansible, and galaxy_ng
# DEV_SOURCE_PATH='galaxy_ng:pulpcore:pulp_ansible'

# If you want to run the UI, clone https://github.com/ansible/ansible-hub-ui
# and set this to the path for the UI
# ANSIBLE_HUB_UI_PATH='/absolute/path/to/ansible-hub-ui'
